table {
  border-spacing: 0px;
}

p {
  font-family: Arial;
  font-size: 12px;
}

.maze {
  position: relative;
  margin: 50px auto;
  border-collapse: collapse;
  border-spacing: 0px;  
}

.maze table {
  background-image: './media/water.png'
  
}

.maze td {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 0px;
}

.maze tr {
  border: 0px;
  padding: 0px;
}

.palette {
  position: relative;
  border-spacing: 0px;  
  position: relative;
  margin: 10px auto;
}

.palette div {
  width: 200px;
  position: relative;
  margin: auto;
  border-spacing: 0;
  display: block;
}

.palette td {
  width: 40px;
  height: 40px;
  border: solid black 1px;
}

.palette img {
  height: 38px;
  width: 38px;
}

.palette button {
  width: 200px;
  height: 40px;
  position: relative;
  margin: auto;
  border-spacing: 0;
}

.resizer {
  position: relative;
  border-spacing: 0px;  
  position: relative;
  margin: 10px auto;
  border-collapse: collapse;
}
.resizer tr {
  height: 10px;
}

.resizer td {
  border-width: 0px;
  align-items: center;
  align-content: center;
  text-align: center;
}
.resizer p {
  margin: 0px;
  text-align: center;
}

.resizer button {
  width: 25px;
  height: 25px;
  text-align: center;
}